@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
ul,
span,
a {
  color: hsl(0, 0%, 15%);
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  height: 7vh;
}

main {
  min-height: 75vh;
  overflow: auto;
}

footer {
  height: 7vh;
}
