
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html{
  background-color: #13151a;
  color: rgb(232, 232, 232);
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
  line-height: 1.5;
}

nav {
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 100%;
}

main {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
}

@layer components {
  .btn-primary {
    @apply text-black py-2 px-5 bg-primary-dark font-semibold rounded-full shadow-md hover:bg-opacity-90 focus:outline-none focus:ring focus:ring-orange  focus:ring-opacity-75;
  }

  .btn-secondary {
    @apply py-2 px-5 bg-secondary-dark font-semibold rounded-full shadow-md hover:bg-opacity-90 focus:outline-none focus:ring focus:ring-orange  focus:ring-opacity-75;
  }

  .btn-primary-light {
    @apply text-white py-2 px-5 bg-primary-light font-semibold rounded-full shadow-md hover:bg-opacity-90 focus:outline-none focus:ring focus:ring-orange  focus:ring-opacity-75;
  }
  .btn-secondary-light {
    @apply text-black py-2 px-5 bg-secondary-light font-semibold rounded-full shadow-md hover:bg-opacity-90 focus:outline-none focus:ring focus:ring-orange  focus:ring-opacity-75;
  }
}

/* html {
  background-color: #13151a;
  color: #fdfdff;
} */
/*html.dark {
  background-color: #19357c;
  color: #fdfdff;
}
html.light {
  background-color: #d2d3d4;
  color: #2a2a39;
}
.dark .nav-links a {
  color: #fff;
}


p, li {
  color: white;
}
a {
  color: burlywood;
}
span {
  color: green
}*/
