
---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Booknotes">
    <ul>
        <li><a href="/booknotes/the-untethered-soul/">The Untethered sould book note</a></li>
    </ul>
</Layout>
