
---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Booknotes" page="booknotes">
    <div class="flex flex-wrap gap-10 justify-center">
        <a class="p-1 border-2 border-gray-light rounded overflow-hidden shadow-lg  hover:scale-105 transition ease-in-out duration-200" href="/booknotes/the-untethered-soul/">
            <img class=" h-80" src="/the_untethered_soul.jpg" />
        </a>
        <a class="p-1 border-2 border-gray-light rounded overflow-hidden shadow-lg  hover:scale-105 transition ease-in-out duration-200" href="/booknotes/the-untethered-soul/">
            <img class=" h-80" src="/the_untethered_soul.jpg" />
        </a>
        <a class="p-1 border-2 border-gray-light rounded overflow-hidden shadow-lg  hover:scale-105 transition ease-in-out duration-200" href="/booknotes/the-untethered-soul/">
            <img class=" h-80" src="/the_untethered_soul.jpg" />
        </a>
        <a class="p-1 border-2 border-gray-light rounded overflow-hidden shadow-lg  hover:scale-105 transition ease-in-out duration-200" href="/booknotes/the-untethered-soul/">
            <img class=" h-80" src="/the_untethered_soul.jpg" />
        </a>
        <a class="p-1 border-2 border-gray-light rounded overflow-hidden shadow-lg  hover:scale-105 transition ease-in-out duration-200" href="/booknotes/the-untethered-soul/">
            <img class=" h-80" src="/the_untethered_soul.jpg" />
        </a>
    </div>
</Layout>
