
---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Booknotes">
    <div class="flex justify-center">
        <li><a href="/booknotes/the-untethered-soul/">The Untethered sould book note</a></li>
    </div>
</Layout>
