---
import BookCard from '../components/BookCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Booknotes' page='booknotes'>
  <div class='flex flex-wrap gap-10 justify-center'>
    <BookCard
      title='The Staff Engineer Parth'
      image='/the_staff_engineer_path.jpg'
      link='/booknotes/the-staff-engineer-path'
    />
    <BookCard
      title='The Untethered Soul'
      image='/the_untethered_soul.jpg'
      link='/booknotes/the-untethered-soul/'
    />
  </div>
</Layout>
