---
import Layout from '@layouts/Layout.astro';
import Now from '../components/Now.astro';
import Products from '../components/Products.astro';
import Talks from '../components/Talks.astro';
import Hero from '../components/Hero.astro';
import Comunities from '../components/Comunities.astro';
import Mentorship from '../components/Mentorship.astro';
---

<Layout title='Gerson Enriquez'>
  <div class='space-y-8 sm:space-y-12'>
    <div class=''>
      <Hero />
    </div>

    <div class='max-w-6xl mx-auto p-4 sm:p-8'>
      <Now />
    </div>

    <div class='max-w-6xl mx-auto p-4 sm:p-8'>
      <Products />
    </div>

    <div class='max-w-6xl mx-auto p-4 sm:p-8'>
      <Comunities />
    </div>

    <div class='max-w-6xl mx-auto p-4 sm:p-8'>
      <Mentorship />
    </div>

    <!-- <div class='max-w-6xl mx-auto p-4 sm:p-8'>
      <Talks />
    </div> -->
  </div>
</Layout>
