---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro';
let articles = await getCollection('articles')
articles = articles
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
---

<Layout title="Astro">
	<main>
		<h1>Astro</h1>
		<p class="my-4">Blog posts:</p>
		<ul class="list-inside list-disc">
			{
				articles.map((article) => (
					<li>
						<a class="underline" href={`/blog/${article.slug}`}>{article.data.title}</a>
						<span>({article.data.date.toLocaleDateString()})</span>
					</li>
				))
			}
		</ul>
	</main>
</Layout>