---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro';
const articles = await getCollection('articles')
---

<Layout title="Astro">
	<main>
		<h1>Astro</h1>
		<p class="my-4">Blog posts:</p>
		<ul class="list-inside list-disc">
			{
				articles.map((article) => (
					<li>
						<a class="underline" href={`/blog/${article.slug}`}>{article.data.title}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>