---
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
import Disneyard from '../assets/disney-card.jpg';
import Avo from '../assets/avo.jpg';
import Wordle from '../assets/my-wordle.png';
import BudgetPlanner from '../assets/budget-planner.jpg';
---

<Layout title='Projects' page='projects'>
  <section class='flex gap-10 flex-wrap justify-center'>
    <ProjectCard
      title='Disney Characters'
      description='Disney fan site that allows users to search for their favorite characters and view information about each character.'
      link='https://disney-characters-peach.vercel.app/'
      image={Disneyard}
      githubLink='https://github.com/GersonEC/disney-characters'
    />
    <ProjectCard
      title='Avo store'
      description='E-commerce store where you can see and choose from a wide types of avocados.'
      link='https://avocado-store-delta.vercel.app/'
      image={Avo}
      githubLink='https://github.com/GersonEC/avocado-store/tree/master'
    />
    <ProjectCard
      title='My Wordle'
      description="In Wordle, users have 6 attempts to guess a 5-letter word. You're helped along the way by ruling out letters that aren't in the word, and being told whether the correct letters are in the correct location or not."
      link='https://my-wordle-phi.vercel.app/'
      image={Wordle}
      githubLink='https://github.com/GersonEC/joy-of-react-word-clone/tree/main'
    />
    <ProjectCard
      title='Budget Planner'
      description='Planner app to handle monthly personal finance expenses.'
      link='https://budget-planner-bice.vercel.app/'
      image={BudgetPlanner}
      githubLink='https://github.com/GersonEC/budget-planner'
    />
  </section>
</Layout>
