---
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Projects' page='projects'>
  <section class='flex gap-10 flex-wrap justify-center'>
    <ProjectCard
      title='Disney Characters'
      description='Disney fan site that allows users to search for their favorite characters and view information about each character.'
      link='https://disney-characters-peach.vercel.app/'
      image='/disney-card.jpg'
    />
  </section>
</Layout>
