
---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Projects">
    <div class="flex justify-center">
        <li><a href="https://budget-planner-coral-eta.vercel.app/" target="_blank">Budget planner</a></li>
    </div>
</Layout>
