---
const { title, image, link } = Astro.props;
---

<div class='p-2 max-w-sm border border-gray-light rounded'>
  <img class='object-cover h-80' src={image} alt={title} />
  <div class='flex justify-center'>
    <a
      class='text-gray-700 text-base hover:underline hover:text-pink-light cursor-pointer transition duration-200'
      href={link}
    >
      {title}
    </a>
  </div>
</div>
