---
---
<nav>
    <div>
        <a href="/" class='font-mono text-lg'>Gerson Enriquez</a>
    </div>
    <div>
        <a href="/about/" class='mr-5 text-lg hover:text-gray-light'>About</a>
        <a href="/articles/page/1" class='mr-5 text-lg hover:text-gray-light'>Articles</a>
        <a href="/booknotes/" class='text-lg hover:text-gray-light'>Book Notes</a>
        <a href="/" class='text-lg hover:text-gray-light'>Now</a>
        <a href="/" class='text-lg hover:text-gray-light'>CV</a>
    </div>
</nav>