---

---

<nav class='w-full h-full flex items-center'>
  <div class='flex justify-between px-2 sm:px-8 w-full'>
    <div class='flex-1 text-left'>
      <a href='/' class='font-mono text-lg'>Gerson Enriquez</a>
    </div>
    <div class='flex items-center flex-3 justify-end gap-6 sm:gap-8'>
      <a
        href='https://blog.gersonenriquez.com'
        target='_blank'
        class='text-lg hover:brightness-75 transition duration-200 ease-out-in'
        >Blog</a
      >
      <a
        href='https://gersonenriquez.notion.site/7ebc6a676a864aff8de38c36d79b6674?v=62b4e41b54c54ae38c52b750d051cd4b'
        class='text-lg hover:brightness-75 transition duration-200 ease-out-in'
        target='_blank'>Book Notes</a
      >
    </div>
  </div>
</nav>
