---
// Button.astro

type Props = {
  title: string;
  id: string;
  onClick?: () => void;
};

const { title, id, onClick } = Astro.props;
---

<button id={id} title={title} class='bg-pink pl-6 pr-6 rounded border border-pink-dark hover:bg-opacity-70 float-end'>
  <span>{title}</span>
</button>

<script type="module" define:vars={{ id, onClick }}>
  document.getElementById(id).addEventListener("click", () => {
    window.print()    
  });
</script>