---
import '@styles/global.css';
const { platform, username } = Astro.props;
---
<a class="btn-primary mr-4" href={`https://www.${platform}.com/${platform === 'linkedin' ? `/in/${username}`: username}`} target="_blank">{platform}</a>
