---
const { title, link, description, where } = Astro.props;
---

<div class='flex gap-4 items-start mb-6'>
  <div>
    <a
      href={link}
      class='text-3xl text-orange-dark hover:brightness-75 transition duration-200 ease-out-in'
      target='_blank'
    >
      {title}
    </a>
    <p class='text-base text-gray'>
      {where}
    </p>
    <p class='text-gray-700 text-md'>
      {description}
    </p>
  </div>
</div>
