---
import { ViewTransitions } from 'astro:transitions';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import '@styles/global.css';

const { frontmatter, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name='description' content={frontmatter?.description ? frontmatter.description : 'Gerson Enriquez blog'} />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content={`/public/gerson.png`} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			rel="alternate"
			type="application/rss+xml"
			title="My cool blog"
			href="/rss.xml"
		/>
		<ViewTransitions />
	</head>
	<body class="bg-dark">
		<header class=" min-h-20 border border-b-white border-b-1" >
			<p class="text-yellow">⚠️This blog is work in progress.</p>
			<Header/>
		</header>
		<main class="p-4 flex justify-center">
			<slot />
		</main>
		<footer class="min-h-10 flex justify-center items-center">
			<Footer />
		</footer>
	</body>
</html>
