---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import '@styles/global.css';

const { frontmatter, title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={frontmatter?.description
        ? frontmatter.description
        : 'Gerson Enriquez blog'}
    />
    <meta name='viewport' content='width=device-width' />
    <meta property='og:image' content={`/public/me.jpg`} />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link
      rel='alternate'
      type='application/rss+xml'
      title='My cool blog'
      href='/rss.xml'
    />
  </head>
  <body class='bg-light'>
    <header
      class='sticky top-0 z-40 w-full backdrop-blur bg-white transition-colors h-[72px] border-b border-gray-light'
    >
      <Header />
    </header>
    <main class='mx-auto'>
      <slot />
    </main>
    <footer
      class='flex justify-center items-center border-t border-gray-light min-h-32'
    >
      <Footer />
    </footer>
  </body>
</html>
