---
import '@styles/global.css';
import PaymentsCourseLP from '../../components/PaymentsCourseLP.jsx';
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <title>Master Payments By Building | Gerson Enriquez</title>
  </head>
  <body>
    <PaymentsCourseLP client:only='react' />
  </body>
</html>
